/* ------------------------
APPARENCE GENERALE DES BOITES
--------------------------*/
.widget{
	color:#666666;
	margin: 0 auto 15px;
	padding:5px 10px 0;
	background:#ffffff;
	font-size:0.9em;
}
	.widget .widgetContainer{
		margin:0 -10px 5px -10px;
		padding:5px 10px;
	}
	.widget h4{
		background:#000000;
		color:#ffffff;
		font-size:1.2em;
		margin:0 -10px -5px -10px;
		padding:8px 10px;
		text-decoration:none;
		font-weight:bold;
	}
	.widget ul{
		margin:10px 0;
	}
	.widget fieldset, .widget form{
		border:0;
		margin:3px 0;
		padding:0;
		width:95%;
	}
	.widget .row{
		margin:3px 0;
		padding:0;
	}
	.widget label{
		display:block;
		float:none;
		width:auto;
	}
	.widget input.wordsbox{
		width:90%;
	}
	.widget .submit{
		text-align: right;
	}
	.widget .submit input{
		color:#000000;
	}
	.widget img{
		max-width: 160px;
	}
	#contents .widget{
		clear: both;
		background: none;
	}
		#contents .widget h4{
			background:#000000;
			 margin: 0 -10px 0;
		}
		#contents .widget .widgetFooter {
    		background: none !important;
    		height: 0px !important;
    		margin: 0 -10px 0;
    		border-bottom: 1px solid #cccccc ;
		}
#header .widget{
	border:none;
	color: white;
}
	#header .widget .widgetContainer {
		border:none;
		margin:0;
		padding:0;
	}
	#header .widget h4{
		background: url("../images/images/images/cart-bg.gif") no-repeat scroll 80px 0 transparent;
		margin:0;
		padding: 2px;
	}
#wrapper .widget .widgetFooter{
	height:5px;
	margin:-5px -10px 0;
}
#footer .widget{
	background:none;
	width:227px;
	float:left;
	margin:10px 0 10px 10px;
	padding:0;
}
	#footer .widget h4{
		margin:0;
		font-size:1em;
	}
	#footer .widget .widgetContainer {
		border:none;
		margin:0;
		padding:0 10px;
	}
	#footer a {
	}
	#footer a:hover {
		color: #ffffff;
	}
.widget .linksmore {
	text-align: left;
}
	

/* ------------------------
BOITE DERNIERS ELEMENTS
--------------------------*/
.widgetLastElements{
	line-height: 140%;
}
	.widgetLastElements a{
	}
	.widgetLastElements .widgetLastElementsPicture{
		text-align:center;
	}
	.widgetLastElements .widgetLastElementsPicture img{
		float:right;
	}
	.widgetLastElements #cadre, .widgetLastElements #cadre #msg_1, .widgetLastElements #cadre #msg_2{
		height:170px!important;
	}
	.widgetLastElements .widgetLastElementsLink{
		text-align: right;
	}	
	
/* ------------------------
BOITE RSS
--------------------------*/
.widgetRss a{
	word-wrap: break-word;
}	

/* ---------------
BOITE CALENDRIER
------------------*/
table.calendar{
	/* border-collapse: needed to apply border styles on <tr>, <col>, <colgroup>, <thead>, <tbody> and <tfoot> */
	/* Support: Mozilla: full, IE 5.5+: partial, Konqueror: none */
	border-collapse: collapse;
	font-size:1em;
	width:100%;
}
	table.calendar tr.calendarNav a{
		color: #666666;
		text-decoration:none;
	}
	table.calendar tr.calendarNav a:hover{
		text-decoration:underline;
	}
	table.calendar td{
		text-align:center;
		vertical-align:middle;
		width:12%;
	}
		table.calendar td a{
			font-weight:bold;
		}
	table.calendar tr.calendarDays th, table.calendar tr.calendarNav th{
		background:#eeeeee;
		border:1px solid #CCCCCC;
		color:#666666;
		font-size:1.1em;
		font-weight:bold;
		width:auto;
	}
	table.calendar td.today{
		color:#ffffff;
		font-weight:bold;
		background:url(/common_images/skins/DefaultSkins1.5/calendar_today.png) no-repeat top left;
	}
	table.calendar td.noDay{
		color: #666666;
	}
	table.calendar td.pastDay{
	}
	table.calendar td.eventDay{
		background-color: #007aaa;
	}
table.calendar_1_January{
}
table.calendar_1_February{
}
table.calendar_1_March{
}
table.calendar_1_April{
}
table.calendar_1_May{
}
table.calendar_1_June{
}
table.calendar_1_July{
}
table.calendar_1_August{
}
table.calendar_1_September{
}
table.calendar_1_October{
}
table.calendar_1_November{
}
table.calendar_1_December{
}
div.calendarEvent{
}
div.calendarEvent h5{
}
div.eventCategory, div.eventDescription{
}
div.eventStartEndTime{
}
div.calendarEventLeft{
	clear: left;
}
div.calendarEventRight{
}	

/* ----------------
BOITE RACCOURCIS
-------------------*/
.widgetShortcutFooter{
	background:transparent;
	margin:0;
	padding:0;
}
	.widgetShortcutFooter h2{
		display:none;
	}
	.widgetShortcutFooter ul, .widgetShortcutHeader li{
		background:none;
		display:inline;
		margin:0;
		padding:0;
	}
.widgetShortcutFooter{
	background:transparent;
	margin:0;
	padding:0;
}
	.widgetShortcutFooter h2{
		display:none;
	}
	.widgetShortcutFooter li, .widgetShortcutFooter ul{
		background:none;
		display:inline;
		margin:0;
		padding:0;
	}
	.widgetShortcutFooter a, .widgetShortcutFooter a:visited{
		background:transparent;
		color:#ffffff;
		margin:0 2px;
		text-decoration:none;
	}
	.widgetShortcutFooter a:hover, .widgetShortcutFooter a:active{
		text-decoration:underline;
	}
.widgetShortcutTools{
}
	.widgetShortcutTools ul{
	}
	.widgetShortcutTools li{
	}
	
/* -----------
BOITE METEO
-------------*/
.widgetWeather img{
	border:1px solid #666666;
}
	.widgetWeather .submit{
	}
	span.temperature{
	}
#weather{
}
	#currentWeather{
	}
	div.weatherRow{
		padding:0 5px;
	}
	span.weatherLabel{
	}
	span.weatherValue{
	}
	div.weatherCondition{
	}
	span.weatherConditionDescription{
	}
	#weatherForecast{
	}
	span.weatherForecastUpdatetime{
	}
	.weatherForecastWeekday{
		clear:left;
	}
	.weatherForecastWeekday h3{
		margin:0;
		padding:15px 0 0 0;
	}
	span.temperature{
		font-style:italic;
	}
	.day{
		float:left;
		margin:0 2% 0 0;
		padding:0;
		width:47%;
	}
	.weatherForecastFeekday .night{
		float:left;
		margin:0;
		padding:0;
		width:48%;
	}
	.weatherForecastWeekday .night, .weatherForecastWeekday .day{
		background:#eeeeee;
		border:1px solid #666666;
	}
	.weatherForecastWeekday .night h4, .weatherForecastWeekday .day h4{
		background:#666666;
		color:#ffffff;
		font-size:1.1em;
		margin:0 0 5px 0;
		padding:3px;
	}
	.weatherForecastWeekday .night img, .weatherForecastWeekday .day img{
		border:1px solid #666666;
		float:left;
		margin:0 5px 5px 5px;
	}
	span.weatherConditionDescription{
	}
	div.weatherRow{
	}
	span.weatherLabel{
	}
	span.weatherValue{
	}
	
/* -----------
BOITE TEXTE
-------------*/
.widgetText {
}

/* -----------
BOITE SONDAGE
-------------*/
.widgetPoll{
}
	.widgetPoll #poll{
		width:100%;
	}
	.widgetPoll #poll h2{
		display:none;
	}
	.widgetPoll #poll li{
		list-style:none;
	}
	.widgetPoll .statsLink{
	}

/* ---------------------
BOITE RECOMMANDER LE SITE
-----------------------*/
.widgetRecommend{
}

#recommend{
}

/* -------------------
BOITE NEWSLETTER
---------------------*/
#wrapper .widgetNewsletter{
	background:#CEC1B0 url(/images/bg-newsletter.png) no-repeat top left;
	color:#ffffff;
}
	#wrapper .widgetNewsletter fieldset{
		width:100%;
	}
	#wrapper .widgetNewsletter h4{
		background:none;
		padding:4px 10px;
	}
	#wrapper .widgetNewsletter .widgetContainer {
		border:none;
		margin:0;
		padding:0;
		padding:0 0 10px;
	}
	#wrapper .widgetNewsletter .widgetFooter{
		height:5px;
		background:#CEC1B0;
	}
	#wrapper .widgetNewsletter #NewsLettersSubscribeMail{
		width:100px;
	}
	#wrapper .widgetNewsletter .submit{
		display:inline;	
	}
		#wrapper .widgetNewsletter .submit input{
			padding:0;
		}
.widgetNewsletter{
}
#newsletter{
}

/* -----------
BOITE PUBLICITE
-------------*/
.widgetAdvert{
	background:#ffffff;
	padding:0;
	}
	.advertHeader{
		font-size: 1em;
		text-align: center;
	}
	.advert{
		overflow: hidden;
	}
	.advertAdditionalLink{
		font-size: 1em;
		text-align: center;
	}
	.iab_300x250{
		height: 250px;
		width: 300px;
	}
	.iab_250x250{
		height: 250px;
		width: 250px;
	}
	.iab_240x400{
		height: 400px;
		width: 240px;
	}
	.iab_336x280{
		height: 280px;
		width: 336px;
	}
	.iab_180x150{
		height: 150px;
		width: 180px;
	}
	.iab_468x60{
		height: 60px;
		width: 468px;
	}
	.iab_234x60{
		height: 60px;
		width: 234px;
	}
	.iab_88x31{
		height: 31px;
		width: 88px;
	}
	.iab_120x90{
		height: 90px;
		width: 120px;
	}
	.iab_120x60{
		height: 60px;
		width: 120px;
	}
	.iab_120x240{
		height: 240px;
		width: 120px;
	}
	.iab_125x125{
		height: 125px;
		width: 125px;
	}
	.iab_728x90{
		height: 90px;
		width: 728px;
	}
	.iab_160x600{
		height: 600px;
		width: 160px;
	}
	.iab_120x600{
		height: 600px;
		width: 120px;
	}
	.iab_300x600{
		height: 600px;
		width: 300px;
	}

/* ------
BOITE RSS
---------*/
.widgetRssItem{
	margin:8px 0;
}
.widgetRssItemTitle{
	font-weight:bold;
}
.widgetRssItemDate{
	font-style:italic;
}

/* -----------
BOITE RACCOURCI
-------------*/
.widgetShortcutTools{
	
}
	.widgetShortcutTools a{
		text-decoration:none;
		font-size:12px;
	}
		.widgetShortcutTools a:hover{
			color:#ffffff;
		}
	.widgetShortcutTools ul li{
		border-bottom:1px #A3A3A3 dashed;
		margin:10px 0;
		padding-bottom: 2px;
	}
