/* ----------------------------
BOITE RECHERCHE DANS CATALOGUE
------------------------------*/
#header .widgetCatalogSearch{
	height: 25px;
	background: transparent;
	position:absolute;
	top: 197px;
	left:730px;
	z-index: 100;
	width:250px;
} 
	#header .widgetCatalogSearch label{
		float:left;
		margin-right:10px;
		color:#ffffff;
	}
	#header .widgetCatalogSearch h4{
		display: none;
	}
	#header .widgetCatalogSearch .wordsbox{
		width:120px;
	}
	#header .widgetCatalogSearch .catalog_search_form{
		float:left;
		width:auto;
		margin:0;
	}
	#header .widgetCatalogSearch fieldset{
		float:left;
		width:auto;
		margin:0 8px 0 0;
	}
	#header .widgetCatalogSearch .submit{
		float:right;
	}
		#header .widgetCatalogSearch .submit input{
			padding: 2px 7px 5px 7px;
			border: none;
		}
	#header .widgetCatalogSearch .row{
		clear:none;
		margin:5px 2px;
		float:left;

	}
	#header .widgetCatalogSearch a{
		color:#ffffff;
		line-height: 25px;
	}


/* -----------
BOITE PRODUIT
--------------*/
.boxproduct{
}
	div.product{
	}
	span.productName{
	}
.widget .short_product h3 {
    overflow: hidden;
    height:auto;
    clear:both;
}		
/* -----------
BOITE PANIER
--------------*/
#boxcart{
	position:absolute;
	top: 60px;
	left:735px;
	border: 1px solid red;
	background: none;
}

.boxcart{
}
	.boxcart .viewcart{
		text-align:right;
	}
	span.label{
	}
	span.value{
	}
	span.viewcart{
	}
.widgetCart .viewcart{
}
.widgetCart .saveCart{
}
.widgetCart .sendCart{
}
.widgetCart .productNumber{
}
	
/* -----------
PAGE PANIER
--------------*/
#cart{
}
#emptyCart{
}
#selectionsCart{
}
tr.shipping{
}
tr.amount{
}
.cart .submit input{
	background-color:#ECE8E3;
	margin-right:5px;
}
#cartDetail{
}
tr.shipping{
}
tr.amount{
}
div.row{
}
span.conditionLabel{
}
span.conditionField{
}
.normalPrice{
	text-decoration: line-through;
}
.cart{
}
.cart .coupon input{
	width: 50px;
}
/*méthode générale sur les tableaux pour supprimer la largeur des libellés de champs dans le tableau recaptitualitif de la commande*/
.cartTableau table .row label, .cartTableau .row label{
	float:none;
	width:auto;
}
#cartSubscription{
}
	
/* -----------
CATALOGUE
--------------*/
.catalog{
}

/* ---------------------------
FICHES RESUMÉES DE PRODUITS
------------------------------*/
.titre_new_products {
    background: url("../images/images/title-bg1.jpg") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font: bold 12px/16px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 7px 0 8px 13px;
}
.short_product{
	float:left;
	position:relative;
	color:#666666;
}
	.short_product .addToCart .row {
		float:left;
		display:none;
	}
	.bloc_catalogue .short_product .addToCart .row {
		display:none;
	}
	.short_product h3{
   	color: #878787;
    	font-size: 13px;
    	line-height: 15px;
    	margin: 0 0 5px;
    	overflow: hidden;
    	padding: 10px 0 0 0 ;
    	display: block;
    	margin-bottom: 10px;
	}
	.short_product p{
		margin:0;
	}
	.short_product .description{
    	font-size: 1.1em;
    	height: 72px;
    	width: 190px;
    	clear:both;
	}
	.short_product .priceContainer{
		display:block;
		font-weight:bold;
		line-height:27px;
		padding:0 0 0 5px;
	}
		.short_product .old_price .priceContainer{
			left: 76px;
			background: none;
			top: 110px;
			font-size: .9em;
		}
		.short_product .prix,
		.short_product .special_price,
		#product .short_product .prix,
		#product .short_product .special_price{
      	color: #CA3207;
      	display: block;
      	float: left;
      	font-size: 1.2em;
      	line-height: 27px;
      	padding: 0 5px;
		}
	.short_product .panier{
		display: block;
		text-align: right;
		padding-top: 9px;
		line-height: 12px;
	}
	.short_product .panier a,
	#product .short_product .panier a {
		background:url(../images/images/button2.gif) no-repeat center left;
		padding:5px;
		text-decoration:none;
		font-size:11px;
		font-weight:normal;
		margin-left: 5px;
		color:#ffffff;
		width:89px;
		height:24px;
	}
	.short_product .row label{
		width:auto;
		float:left;
	}
	.short_product .row input, 
	.short_product .row select{
		width:50px;
	}
	.short_product .panier .submit{
	}
	.short_product_container{
		
		height:315px;
		padding:24px 15px 19px;
		width:200px;
	}
	.short_product .pictureContainer{
		text-align:center;
		margin:0 auto 25px auto;
		height: 94px;
    	width: 125px;
    	/*background:#ECE8E3 url("/common_images/skins/DefaultSkins1.5/no-image.png") no-repeat 50% 50%;*/
	}
	.short_product .picture img{
    	max-height: 120px;
	}
	.short_product .price{
		background:none;
		color:#ff0000;
		font-size:1em;
		font-weight:normal;
		left: 85px;
		top: 109px;
		z-index:10;
	}
		#product .price{
			
		}
		.old_price {
			background: none;
			color:#ff0000;
			text-decoration:line-through;
			display: block;
			margin: 0;
		}
				.old_price .price {
					background: none;
					padding:0;
				}
					.old_price .prix {
						background: none;
						color: #240C02;
						font-size:1.3em;
						font-weight: normal;
						text-decoration: line-through;
					}
	.short_product .viewProduct{
		width:100px;
		display: block;
		margin:5px auto 0 auto;
		line-height:25px;
		text-align:center;
		z-index: 500;
	}
		.short_product .viewProduct a{
padding:5px;
		text-decoration:none;
		font-size:11px;
		font-weight:normal;
		color:#ffffff;
		width:89px;
		height:24px;
		}
		.short_product .viewProduct a:hover{
			color: #ffffff;
			text-decoration: none;
		}
#contents .short_product .viewProduct{
	background:url(../images/images/button1.gif) no-repeat center center;
	position: absolute;
	top: 214px;
	left: 17px;
	
}
#contents .short_product .addToCart {
	position: absolute;
	top: 206px;
	left: 22px;
	width: 200px;
}
.rateTaxation{
	display:none;
}
.ecoParticipation{
	display:none;
}
.ecoParticipationDetail{
	
}
.detailPriceUnite,
.detailPriceTotal{
}
#specialRate{
	display:none;
}
#specialRateAlternatives{
	display:none;
}
.stockDetail{
	display:none;
}
#stockIcon{
	display:none;
}
#stockAvailabilityDate{
	display:none;
}
.short_product .reference{
	display:none;
}
.short_product .fromPrice{
   padding: 0 5px;
   float:left;
}

/* -------------------------------------
FICHES RESUMÉES DE PRODUITS DANS WIDGET
-----------------------------------*/
#rightbar .widget .short_product,
#leftbar .widget .short_product {
	background:none;
	float:none;
	position:relative;
}
	#rightbar .widget .short_product .row label,
	#leftbar .widget .short_product .row label {
		display: inline;
	}
	#rightbar .widget .short_product .panier,
	#leftbar .widget .short_product .panier {
		text-align:center;
	}
#rightbar .widget .short_product_container,
#leftbar .widget .short_product_container  {
	background:none;
	width:auto;
	padding:10px 4px;
	height:auto;
	margin: 0;
}
#contents .widget .short_product_container {
	width: 213px;
}
#contents .widgetContainer {
	overflow:hidden;
}
#rightbar .widget .short_product .old_price {
	left: 70px;
}
#rightbar .widget .short_product .priceContainer.old_price {
	background:none;
}
#rightbar .widget .short_product .old_price .prix {
	font-size: 1.2em;
}
	#rightbar .widget .short_product .description{
    	width: 170px;
    	height: 95px;
	}

/* -----------
PAGE PRODUIT
--------------*/
#product{
}
	#product #formproductversion .panier{
		background:url("../images/images/button3.png") no-repeat scroll center center transparent;
		clear:both;
		color:#ffffff;
		height:30px;
		line-height:25px;
		width:140px;
		
	}
	#product #formproductversion .panier a{
		/*background:url("../images/images/button3.png") no-repeat scroll left top transparent;*/
		display:block;
		font-size:1em;
		font-weight:bold;
		line-height:30px;
		color:#ffffff;
		margin: 0 0 0 22px;
	}
	#product h2{
		color:#cccccc;
		font-size:2em;
	}
#visuelsAdditionnels, #produitsAssocies, #produitsCommentaires{
	clear:both;
}
#visuelsAdditionnels h4, #produitsAssocies h4, #produitsCommentaires h4{
	margin:0;
	text-align:left;
}	
.picture{

}
.product_detail .description ul{
	list-style:disc;
	margin: 0 0 0 40px;
}
	.product_detail .description ul li{
		background:none;
		padding: 0;
	}
.product_detail #ProductLeftCol{
	width:300px;
	float:left;
}
.product_detail #ProductRightCol{
	color:#666666;
	float:right;
	margin-right:10px;
	width:370px;
}
.product_detail .reference {
}
#productPicture{
	/*background:url("/common_images/skins/DefaultSkins1.5/bg-product.png") no-repeat scroll left top transparent;*/
	height:290px;
	padding:10px 10px 0;
	text-align:center;
	width:280px;
	margin-bottom:10px;
	position: relative;
}
	#productPicture img{
		display:block;
		margin:0 auto;
		max-height:260px;
		max-width:280px;
	}
	#productPicture a{
		width: 280px;
		height: 280px;
		position: absolute;
		top: 10px;
		left: 10px;
	}
.product_detail .total_price{
	display:none;
}	
.reference{
}
.description{
	padding:0 10px 0 0;
}
.new{
	float:right;
	margin:0 5px;
}
.oldPrice{
	text-decoration: line-through;
}
.rateTaxation{
}
	.rateTaxation .rateTaxationLabel{
	}
	.rateTaxation .rateTaxationRate{	
	}
.ecoParticipation{
}
	.ecoParticipation .ecoParticipationLabel{
	}
	.ecoParticipation .ecoParticipationPrice{
	}
.specialPrice{
}
.short_product .addToCart a{
	
}
.addToCart{
	margin:10px 0 0;
}
  .addToCart a{
  	
  }
	.addToCart .row{
		margin: 5px 0;
		padding:0;
	}
		.addToCart .row label{
			margin: 0 5px 0 0;
		}
		.addToCart .row select{
			width:auto;
			float: left;
		}
.specialRate{
	font-weight: bold;
}
#specialRateAlternatives{
}
.specialIcon{
	float:right;
}
#stockDetail{
}
#stockAvailabilityDate{
}
#stockIcon{
}
#stockWaiting{
}
#additionnalsProperties{
}
#alternatives{
}
#options{
}
#productSlicePrice{	
}
.priceContainerProduct,
.price{
		padding:0 0 0 15px;
		float:left;
		line-height:46px;
		margin: 10px 15px 10px 0;
}
	.priceContainerProduct .prix,
	.priceContainerProduct .special_price,
	.prix{
			display:block;
			font-size:1.6em;
			font-weight:bold;
			line-height:46px;
			padding:0 15px 0 0;
			margin-right:-10px;
	}
	.priceContainerProduct .old_price{
		font-size:12px;
		text-decoration:line-through;
	}
#visuels_additionnels{
	clear:both;
}
	#visuels_additionnels h2{
		display:none;
	}
.additionnalPicture{
	/*background:url("/common_images/skins/DefaultSkins1.5/bg-additional-pictures.png") no-repeat scroll left top transparent;*/
	float:left;
	height:70px;
	margin:0 9px;
	padding:7px;
	text-align:center;
	width:55px;
}
	.additionnalPicture img{
		max-width:53px;
		max-height:53px;
	}
.deleteProduct{
	width:16px;
	height: 16px;
	background:url("/common_images/skins/DefaultSkins1.5/deleteProduct.gif") no-repeat left top ;
	display: block;
	margin:0 5px;
}
	.deleteProduct span{
		display:none;
	}
#formproductversion{
}
	#formproductversion a{
		text-decoration:none;
	}
		#formproductversion a:hover{
			text-decoration:underline;
		}
	#formproductversion #formproductversion,
	#formproductversion fieldset{
		margin:0;
		padding:0;
	}
	#formproductversion fieldset{
		clear:both;
	}
	#formproductversion fieldset div{
  		margin:0;
		padding:0;	
  	}
	#formproductversion legend{
		display:none;
	}
	#formproductversion label{
		width:auto;
		margin-right:5px;
	}
	#formproductversion div{
	}
	#formproductversion select,
	#formproductversion input{
		margin-right:15px;
	}
	#formproductversion .addToCart .row label {
		margin-right:5px;
		margin-bottom: 5px;
	}
input.add_to_cart_quantity{
	width: 100px;
}
#product #picture  {
}
	
/* --------------------------------------
PRÉSENTATION DES FAMILLES
----------------------------------------*/
.sortResults,
#sort{
	border-bottom:1px dotted #cccccc;
	margin:0 auto;
	width:90%;
}
	.sortResults legend,
	#sort legend{
		color:#666666;
		float:left;
		font-size:1.1em;
		font-weight:bold;
		margin:3px;
	}
	.sortResults label,
	#sort label{
		width:auto;
		margin-right:10px;
		float:none;
	}
	.sortResults fieldset{
		margin:5px;
		padding:0;
	}
	.sortResults .row,
	#sort .row{
		display:inline;
	}

.selectNbProducts{
	border-bottom:1px dotted #cccccc;
	border-top:1px dotted #cccccc;
	margin:0 auto;
	width:90%;
}
	.selectNbProducts .row{
	}
#famillyPresentation{
	margin: 5px auto;
	width:85%;
}
#famillyPresentation img{
	float:left;
	margin:5px;
}
#famillyPresentation p{
	padding:5px;
}
#childrenSelector{
}
/*ne s'affiche que lorsque une famille a des produits et des sous-familles*/
#formArboSelect,
#childrenSelector{
	margin:auto;
	width:85%;
}
#formArboSelect,
#childrenSelector{
	margin:auto;
	width:85%;
	clear:both;
}
.catalog #childrenSelector {
	width:auto;
	padding:0 15px 0 0;
}
.catalog #formArboSelect {
	width:auto;
	background:#ECE8E3;
	padding:5px 0;
}
.catalog #childrenSelector ul li{
	background:none; display:inline;
}
div.line1, 
div.line2, 
div.line3, 
div.line4{
	/* prévoir autant que de ligne il y aura si on veut des styles différent par ligne*/
	clear:left;
} 
div.col1, 
div.col2, 
div.col3, 
div.col4{
}

.familly{
	margin:0;
	float:left;
	border-right:groove 1px;
	color:#666666;
}
.famillyContainer {
	min-height:210px;
	padding:10px 15px 10px 10px;
	width:223px;
	position: relative;
}
	.familly img{
		display:block;
		margin:0 auto;
	}
	.familly h3{
		color: #666666;
		font-size: 1.4em;
		overflow: hidden;
	}
	.familly a{
		background:url("/common_images/skins/DefaultSkins1.5/bg-view-product.png") no-repeat left top;
		display:block;
		line-height:25px;
		margin:5px auto 0;
		padding-left:7px;
		width:100px;
		text-decoration:none;
		position: absolute;
		bottom: 10px;
		left: 75px;
	}
		.familly a:hover{
			color:#000000;
			text-decoration: underline;
		}
	.familly a span{
		color:#666666;
		font-size:13px;
	}
	
/* --------------------------
PAGE PANIER > AUTHENTIFICATION
-----------------------------*/
#cartAuthentification{
}

/* -------------------
PAGE PANIER > ADRESSE
----------------------*/
#cartAddress{
}
	#steps{
		height:30px;
		margin:10px 0 25px;
		background:#f8f8f8;
		border:1px #ECE8E3 solid;
		line-height:30px;
	}
		#steps span{
			display:block;
			float:left;
			font-size:1.2em;
			font-weight:bold;
			line-height:30px;
			padding:0px 30px 0px 10px;;
			background:url("/common_images/skins/DefaultSkins1.5/bg-cart-etap-default.png") no-repeat right top;
		}
		#steps span.active{
			background:url("../images/images/images/bg-cart-etap.gif") no-repeat right top; 
			color:#ffffff;
		}
	#currentAddress{
	}
	div.address invoicingAdress{
	}
	div.address deliveryAddress{
	}
	#manageAddress{
	}
	#manageAddress .adresses{
		background:#eee;
	}
div.address invoicingAdress{
}
div.address deliveryAddress{
}
.sendCart{
	margin: 10px 0;
}

/* -------------------
PAGE PANIER > PAIEMENT
----------------------*/
#cartOrderConfirmation{
}
#paymentModules{
}
.condition_field{
	float: left;
	line-height: 20px;
	margin-right: 5px;
	padding-top: 5px;
}
.condition_label{

}

/* -------------------
PAGE PANIER > CONFIRMATION
----------------------*/
#cartPaymentConfirmation{
}	
#paymentInfos{
}
#paymentActions{
}			

/* --------------------------------------
PRODUITS
----------------------------------------*/
#products{
}
	
/* --------------------------------------
ZOOM DIAPORAMA D'UN PRODUIT
----------------------------------------*/
span.zoomDiaporama{
}

/* --------------------------------------
GALERIE DE PRODUITS
----------------------------------------*/
#zoomGallery{
	padding:10px;
}
div.galleryElement{
	float:left;
	padding:5px;
}

/* ------------
CALQUES OVERDIV
--------------*/
#overDiv{
	background:#ffffff;
	border:1px solid #ECE8E3;
	margin:0;
	width:300px;
}
	#overDiv p{
		margin:0;
	}
	#overDiv ul li{
		background:none;
		padding:0;
	}
	#overlibheader div{
	}
	div.overlibcaption{
		float:left;
		font-size:14px;
		font-weight:bold;
		padding:5px 0 0 5px;
		width:200px;
	}
	div.overlibclose{
		padding:0 5px;
		text-align:right;
	}
	#overlibheader a{
		background:none;
		border:none;
		color:#000000;
		font-weight:bold;
		text-decoration:none;
	}
	#overlibcontent{
		clear:both;
		padding:10px;
	}
	#overlibfooter{
		padding:5px;
		text-align:right;
	}

/* -----------------------------------
AJOUT AU PANIER
--------------------------------------*/
#overDiv.od_ad_to_cart{
	background:url("/common_images/skins/DefaultSkins1.5/bg-cart.png") repeat-x 0 0 #ffffff !important;
	border:1px solid #cccccc;
	margin:0;
	width:300px;
}
	.od_ad_to_cart #overlibcontent{
		background:url("/common_images/skins/DefaultSkins1.5/addCart.png") no-repeat 10px 10px;
		clear:both;
		height:91px;
		padding:10px 5px 5px 100px;
	}
	
#add2cartConfirmation{
	background:transparent;
} 
	#produitsCommentaires form, #produitsCommentaires #commentsList{
		text-align:left;
	}
	#produitsCommentaires h6{
		display:inline;
		margin:0;
	}
	#visuelsAdditionnels img{
		margin:3px;
		padding:3px;
	}
	
/*-----------------------------
PRODUITS EN TELECHARGEMENT
----------------------------*/
.productDownload{
}
.productDownload li.sample a{
	font-weight: bold;
	font-size:1.2em;
}

/* -------------------------
PAGE RESULTAT DE RECHERCHE
--------------------------*/
#searchPrice .row{
	width: 250px;
	float: left;
	clear: none;
	margin: 0 5px;
	padding: 0 5px;
}
	#searchPrice .row label{
		width: auto;
		margin-right: 10px;	
	}

#selectFamiliesLabel .row{
	margin: 0 5px;
	padding: 0 5px;
}
	#catalog_search_sort_form .row{
		float: left;
		width: auto;
		clear: none;
		margin: 0 10px;
	}
		#catalog_search_sort_form .row label{
			width: auto;
			margin-right: 5px;
		}
		#catalog_search_sort_form fieldset{
			float: left;
			margin: 0;
			padding: 0;
		}
	#catalog_search_sort_form .submit {
		margin: 20px 0 0 0;
		float: left;
	}
#contents .catalog_search_form .simpleCatalogSearchInput,
#contents .catalog_search_form .submit{
	float: left;
	margin: 0;
	padding: 0;
}
.catalog_search_form .simpleCatalogSearchInput label{
	width: auto;
	margin: 0 10px;
}
.catalogSearchExecutionTime{
	display:none;
}
#contents .simpleCatalogSearch .simpleCatalogSearch{
	
}
	#contents .simpleCatalogSearch .simpleCatalogSearch h4{
		margin:5px;
	}
	#contents .simpleCatalogSearch fieldset{
		margin:0;
		padding:0;
	}
.simpleCatalogSearch,
.advancedCatalogSearch{
	border-bottom:1px dotted #666666;
}
	.simpleCatalogSearch h4,
	.advancedCatalogSearch h4{
		display:none;
	}
#resultsHeader h3{
	font-size: 1.7em !important;
	font-weight: normal;
}
#advanced_catalog_search_form{
	overflow: auto
}
	#advanced_catalog_search_form #searchPrice{
		float: left;
	}
	#advanced_catalog_search_form .submit{
		float: left;
		margin-top: 20px;
	}
	#advanced_catalog_search_form fieldset{
		margin: 0 0 10px 0;
		padding: 0;
	}
	#advanced_catalog_search_form  .row{
		margin: 0 10px;
		padding: 0 10px;
	}
.simpleSearch{
	clear: both;
	text-align: center;
	font-weight: bold;
	margin: 5px auto;
	display: block;
}
#contents .catalog_search_form{
	float:left;
}
#contents .simpleCatalogSearch{
	overflow: auto;
	padding-bottom: 10px;
}
	#contents .simpleCatalogSearch a.advancedSearch{
		font-weight: bold;
		margin-left: 5px;
	}
	#contents .simpleCatalogSearch .submit input{
		line-height: 12px;
		height: 18px;
		margin-left: 10px;
		padding: 0 5px;
	}